<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Restaurant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="RestaurantEDM" connectionString="metadata=res://*/Models.RestaurantEDM.csdl|res://*/Models.RestaurantEDM.ssdl|res://*/Models.RestaurantEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEODORGL503VD\SQLEXPRESS;initial catalog=Restaurant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><applicationSettings>
        <Restaurant.Properties.Settings>
            <setting name="MenuDiscount" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="OrderPricePoint" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OrderTimeCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OrderTimeInterval" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="OrderDiscount" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="DeliveryPricePoint" serializeAs="String">
                <value>15.5</value>
            </setting>
            <setting name="DeliveryPrice" serializeAs="String">
                <value>5.12</value>
            </setting>
            <setting name="ProductsExpirationCount" serializeAs="String">
                <value>5</value>
            </setting>
        </Restaurant.Properties.Settings>
    </applicationSettings>
</configuration>